{% extends 'base.html.twig' %}

{% block title %}Customer overview{% endblock %}

{% block body %}
    <h1 class="mt-2">Buchungen</h1>

    <table class="table table-striped mt-3">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Anreisedatum</th>
            <th scope="col">Abreisedatum</th>
            <th scope="col">kunde</th>
        </tr>
        </thead>
        <tbody>
        {% for booking in bookings %}
            <tr>
                <th scope="col">{{ booking.name }}</th>
                <th scope="col">{{ booking.arrivalDate |date("Y.m.d")}}</th>
                <th scope="col">{{ booking.departureDate |date("Y.m.d")}}</th>
                <th scope="col"><a href="/kunden/kunde/{{ booking.customer.firstname }}-{{ booking.customer.surname }}"> {{ booking.customer }}</a></th>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}