{% extends 'base.html.twig' %}

{% block title %}Customer reservation details{% endblock %}

{% block body %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Vorname</th>
            <th scope="col">Nachname</th>
            <th scope="col">Adresse</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ customer.firstname }}</td>
            <td>{{ customer.surname }}</td>
            <td>{{ customer.address }}</td>
        </tr>
        </tbody>
    </table>
{% endblock %}