{% extends 'base.html.twig' %}

{% block title %}Hotel room reservation{% endblock %}

{% block body %}
   <div class="container">
    <h1>Registrieren sie sich</h1>
    {% if message is not empty %}
        <div class="alert alert-success" role="alert">
            <p>{{ message }}</p>
        </div>
    {% endif %}
    <br>
    <div class="container">
        {{ form(registerForm) }}
    </div>
   </div>
{% endblock %}
