{% extends 'base.html.twig' %}

{% block title %}Customer overview{% endblock %}

{% block body %}
    <h1 class="mt-2">Kundenübersicht</h1>

    <table class="table table-striped mt-3">
        <thead>
        <tr>
            <th scope="col">Vorname</th>
            <th scope="col">Nachname</th>
            <th scope="col">Adresse</th>
            <th scope="col">Buchungen</th>
        </tr>
        </thead>
        <tbody>
        {% for customer in customers %}
            <tr>
                <th scope="col">{{ customer.firstname }}</th>
                <th scope="col">{{ customer.surname }}</th>
                <th scope="col">{{ customer.address }}</th>
                <th scope="col">
                    {% for booking in customer.bookings %}
                        {{ booking.name }},
                    {% endfor %}
                </th>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
